/* Element Selectors */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("../images/photo-1517732306149-e8f829eb588a.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: fantasy;
} 
  
main {
  flex: 1 0 auto;
}
 /* #page-container{
  position: relative;
  min-height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1517732306149-e8f829eb588a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGVvcGxlJTIwd2Fsa2luZ3xlbnwwfHwwfHw%3D&w=1000&q=80');
  background-repeat: no-repeat;
  background-size: 100%;
}  */

#textarea1 {
  background-color: white;
  width: 250px;
  border-radius: 15px;
}
::placeholder {
  text-align: center;
  font-family: fantasy;
}

#search-button {
  width: 100px;
  border-radius: 15px;
}
/* Class Selectors */
.container{
  opacity: 500;
}   

/* .center{
  font-weight: 900;
  color: beige;
  text-shadow: 0 0 3px black;
} */

.img-container{
   padding: 50px;
  justify-content: space-between;
}

.transportation{
 margin:50;
}
    
.custom-footer {
  padding-bottom: 5px;
}

.score-box {
  border: 2px solid black;
  background-color: white;
  opacity: 0.7;
  border-radius: 15px;
  line-height: 30px;
}

.score {
  padding: 20px;
  font-weight: bold;
}


/* remove class when walking score <50 */
/* .hidden {
  display: none;
} */

/* ID Selectors */
#homepage-header {
  font-weight: 900;
  color: beige;
  text-shadow: 0 0 3px black;
}

#header3{
  font-weight: 900;
  font-size: x-large;
  color: beige;
  text-shadow: 0 0 3px black;
} 
 
#search-input{
  background-color: white;
  padding-left: 25px;
  border-radius: 12px;
  box-shadow: 100px;
  width: min-content;
}

#textarea1 {
  text-decoration: none;
  text-shadow: none;
}

#body-results {
  background-image: none;
  background-color: grey;
}