/* Element Selectors */
body {
    color:darkgoldenrod;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("../images/photo-1517732306149-e8f829eb588a.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Padauk', sans-serif;
    font-family: 'Rajdhani', sans-serif;
  } 
    
  main {
    flex: 1 0 auto;
  }
   /* #page-container{
    position: relative;
    min-height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1517732306149-e8f829eb588a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGVvcGxlJTIwd2Fsa2luZ3xlbnwwfHwwfHw%3D&w=1000&q=80');
    background-repeat: no-repeat;
    background-size: 100%;
  }  */
  
  #textarea1 {
    background-color: white;
    width: 250px;
    border-radius: 15px;
  }
  ::placeholder {
    text-align: center;
    font-family: 'Padauk', sans-serif;
    
  }
  
  #search-button {
    width: 100px;
    border-radius: 15px;
    background-color:black;
    color:white;
  }
  /* Class Selectors */
  .container{
    opacity: 500;
    
  }   
  
  /* .center{
    font-weight: 900;
    color: beige;
    text-shadow: 0 0 3px black;
  } */
  
  .img-container{
     padding: 50px;
    justify-content: space-between;
  }
  
  .transportation{
   margin:50;
  }
      
  .custom-footer {
    padding-bottom: 50px;
    background-color:white;
    text-align:center;
    color:#0B2559;
  }
  
  .score-box {
    border: 2px solid black;
    background-color: goldenrod;
    opacity: 0.7;
    border-radius: 10px;
    line-height: 30px;
    color:red;
  }
  
  .score {
    padding: 15px;
    font-weight: bold;
  }
  
  
  /* remove class when walking score <50 */
  /* .hidden {
    display: none;
  } */
  
  /* ID Selectors */
  #homepage-header {
    font-size: 120px;
    font-weight: 900;
    color: #0B2559;
    text-shadow: 0 0 20px #F2C12E;
    text-decoration-color: black;
  }
  
  #header3{
    font-size: 70px;
    font-weight: 900;
    font-size: x-large;
    background-color: #FED900;
    border-radius: 100px;
    padding: 12px;
    color: #0B2559;
    text-shadow: 0 0 20px #F2C12E;
    text-decoration-color: white;
  } 
  
  #text-tag{
    width: 70%;
  }
   
  #search-input{
    background-color: white;
    padding-left: 25px;
    border-radius: 12px;
    box-shadow: 100px;
    width: min-content;
  }
  
  #textarea1 {
    font-family: 'Padauk', sans-serif;
    text-decoration: none;
    text-shadow: none;
  }
  
  #body-results {
    background-image: none;
    background-color: grey;
  }
  
  .custom-card {
    max-height: 25% ;
    background-color:grey;
  
  }