/* Resets the box size of every element */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:darkgrey;
  }
  
  /* Gives the body element a parent height to compare against */
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
    background-color:aquamarine;
  }
 
  
  h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
  }
  
  /* Matches the font of special elements to the rest of the page */
  input, select, option, optgroup, textarea, button,
  pre, code {
    font-size: 100%;
    font-family: inherit;
  }
  
  /* Removes default bullet points from lists */
  ol, ul {
    list-style: none;
  }

.container {
  background-color:grey;
  font-size:20px;
}
.card-title {
  color:red;
}
.center {
  color:white;
  font-size:20px;
}
  .card-content{
    color:purple;
  }
  .card-content {
    background-color:blue;
    
  }
  .row {
    background-color:grey;
  }
  .row center {
    background-color:red;
  }
  .pic {
    background-color:grey;
    height:50px;
  }
  .l {
    background-color:blue;
    font-size:20px;
    color:blue;
  }
  